
<div class="container">
    <footer class="flex-wrap justify-content-end align-items-center text-center border-top">
        <div class="py-2 my-2">
            <div class="row align-items-center">
                <div class="col text-start text-muted fz-12">
                    <span class="pageload"></span>
                </div>
                <div class="col-auto">
                    <a href="{{ site.baseurl }}/" class="text-center link-dark text-decoration-none d-inline-block"><img src="{{ site.baseurl }}/theme/img/logo_footer2.png" width="15px" class="footer_logo"></a>
                </div>
                <div class="col text-end">
                    <a href="#"><i class="bi bi-arrow-up-square-fill fz-20 text-primary"></i></a>
                </div>
            </div>
            
            
        </div>
    </footer>
</div>


<script src="{{ site.baseurl }}/theme/js/main.js"></script>

<script>
    
</script>