<head>
    <!-- Je t'aime ma vie ::) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal website where I share my projects and work.">
    <meta name="author" content="Kerem">
    <meta name="theme-color" content="#1f75d8" >
    
    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/aos.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/font-mfizz.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/default.min.css">
    <script async src="{{ site.baseurl }}/theme/js/lazysizes.min.js"></script>
    <script async src="{{ site.baseurl }}/theme/js/highlight.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/atom-one-dark-reasonable.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" media="print" onload="this.media='all'" />
    <script>document.addEventListener("DOMContentLoaded", function() {hljs.highlightAll();});</script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" integrity="sha512-jNDtFf7qgU0eH/+Z42FG4fw3w7DM/9zbgNPe3wfJlCylVDTT3IgKW5r92Vy9IHa6U50vyMz5gRByIu4YIXFtaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZT6JVDZCK"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8ZT6JVDZCK');
    </script>
</head>
