body{    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background: none !important;color:#8b1104 !important}
.baslik i {position: relative;top:-1px}
pre code{border-radius: .25rem; font-weight: 400;  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-style: italic;}
.fz-12{font-size: 12px;}
.fz-14{font-size: 14px;}
.fz-15{font-size: 15px;}
.fz-16{font-size: 16px;}
.fz-18{font-size: 18px;}
.fz-20{font-size: 20px;}
.fz-22{font-size: 22px;}
.fz-24{font-size: 24px;}
.fz-26{font-size: 26px;}
.fz-28{font-size: 28px;}
div[id^='section'] {
    margin:3rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--bs-border-color);
}
code {font-weight: 700;}


body{
	position: relative; /* required */
}
  
/* Custom style to stick list group on top */
.list-group{
    position: sticky;
    top: 15px;
    border:none !important;
    background: none;
}
.list-group .list-group-item {border:none !important;background: none;}

.list-group-item-action:hover{background: none;}
.list-group-item-action span{transition: .2s;border-radius: .25rem;}
.list-group-item-action span:hover{background: #f0f5fe;}
.list-group-item-action.active{background: none !important;}
.list-group-item-action.active span{background: #e9f1fe;color:#232326; font-weight: 600;}
.list-group ol li a {padding: .5rem .25rem !important;}

::marker {
    color: #6c757d;
    font-size: 14px;
    font-weight: 600;
}

code.muted{
    background-color: #f3f4f5;
    color:#4e6e8e;
    font-weight: inherit;
    padding: .25rem;
}

b {font-weight: 600;}
a.ext-decoration-none{text-decoration: none !important;}


.dark{ 
    --background:#23272c;
    --text:#8798a8;
    --bs-blue: #375a7f;
    --bs-indigo: #673ab7;
    --bs-purple: #654ea3;
    --bs-pink: #e83e8c;
    --bs-red: #e74c3c;
    --bs-orange: #fd7e14;
    --bs-yellow: #f39c12;
    --bs-green: #00bc8c;
    --bs-teal: #45b5aa;
    --bs-cyan: #17a2b8;
    --bs-white: #fafafa;
    --bs-black: #111;
    --bs-gray: #7e7e7e;
    --bs-gray-dark: #121212;
    --bs-gray-100: #e1e1e1;
    --bs-gray-200: #cfcfcf;
    --bs-gray-300: #b1b1b1;
    --bs-gray-400: #9e9e9e;
    --bs-gray-500: #7e7e7e;
    --bs-gray-600: #626262;
    --bs-gray-700: #515151;
    --bs-gray-800: #3b3b3b;
    --bs-gray-900: #222;
    --bs-primary: #375a7f;
    --bs-secondary: #626262;
    --bs-success: #00bc8c;
    --bs-info: #17a2b8;
    --bs-warning: #f39c12;
    --bs-danger: #e74c3c;
    --bs-light: #9e9e9e;
    --bs-dark: #3b3b3b;
    --bs-primary-rgb: 55, 90, 127;
    --bs-secondary-rgb: 98, 98, 98;
    --bs-success-rgb: 0, 188, 140;
    --bs-info-rgb: 23, 162, 184;
    --bs-warning-rgb: 243, 156, 18;
    --bs-danger-rgb: 231, 76, 60;
    --bs-light-rgb: 158, 158, 158;
    --bs-dark-rgb: #23272c;
    --bs-white-rgb: 250, 250, 250;
    --bs-black-rgb: 17, 17, 17;
    --bs-body-color-rgb: 225, 225, 225;
    --bs-body-bg-rgb: 34, 34, 34;
    --bs-body-color: #e1e1e1;
    --bs-body-bg: #222;
    --bs-border-color: #393f47;
    --bs-table-border-color1: #393f47;
}

.dark .alert-danger {
    color: #ee8277;
    background-color: #74261e;
    border-color: #8b2e24;
}
.dark .alert-secondary {
    color: #919191;
    background-color: #313131;
    border-color: #3b3b3b;
}
.dark .alert-primary {
    color: #738ca5;
    background-color: #1c2d40;
    border-color: #21364c;
}
.dark .alert-success {
    color: #4dd0af;
    background-color: #005e46;
    border-color: #007154;
}
.dark .alert-warning {
    color: #f7ba59;
    background-color: #7a4e09;
    border-color: #925e0b;
}
.dark .alert-info {
    color: #5dbecd;
    background-color: #0c515c;
    border-color: #0e616e;
}
.dark .alert-light {
    color: #bbbbbb;
    background-color: #4f4f4f;
    border-color: #5f5f5f;
}
.dark .alert-dark {
    color: #767676;
    background-color: #1e1e1e;
    border-color: #232323;
}
.dark .btn-link {
    font-weight: 400;
    color: #95aec8;
    text-decoration: underline;
}
.dark .btn-link:hover {
    color: #c0c5cf;
}
.dark table {
    border-color: var(--bs-table-border-color1) !important;
    color:#cdd3da
}
    


.dark {background-color: var(--background);color:var(--text);}
.dark .list-group .list-group-item {color:var(--text)}
.dark .list-group-item-action span:hover {color:var(--background)}


/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -41.6%;
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -41.6%;
    }
    .row-offcanvas-right.active {
      right: 41.6%;
    }
    .row-offcanvas-left.active {
      left: 41.6%;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 41.6%;
    }
    #sidebar {
      padding-top:0;
    }
    .row-offcanvas.active > .sidebar-offcanvas{
      position: absolute;
      width: 100%;
      background: #e9e9e9;
      height: auto;
      z-index: 9;
      top: 0;
    }
  }
  
  small, .small {
    font-size: .875em !important;
}

.scrollspy-example h2:first-of-type {
  margin-top: 0rem !important;
  padding-top: 2rem !important;
  border:none !important
}

.scrollspy-example h2[id]:not(:first-child) {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.4rem #ebebeb solid;
  border-top-style: double;
}
.scrollspy-example h3[id] {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.4rem #f3f3f3 solid;
    border-top-style: double;
}
p{margin: 0;}

blockquote {
  border-left:.20rem solid #d0d7de;
  padding-left: .5rem;
  color:#89929b
}










.ABAP { color: #E8274B; }
.ActionScript { color: #882B0F; }
.Ada { color: #02f88c; }
.Agda { color: #315665; }
.AGS-Script { color: #B9D9FF; }
.Alloy { color: #64C800; }
.AMPL { color: #E6EFBB; }
.ANTLR { color: #9DC3FF; }
.API-Blueprint { color: #2ACCA8; }
.APL { color: #5A8164; }
.Arc { color: #aa2afe; }
.Arduino { color: #bd79d1; }
.ASP { color: #6a40fd; }
.AspectJ { color: #a957b0; }
.Assembly { color: #6E4C13; }
.ATS { color: #1ac620; }
.AutoHotkey { color: #6594b9; }
.AutoIt { color: #1C3552; }
.BlitzMax { color: #cd6400; }
.Boo { color: #d4bec1; }
.Brainfuck { color: #2F2530; }
.C-Sharp { color: #178600; }
.C { color: #555555; }
.Chapel { color: #8dc63f; }
.Cirru { color: #ccccff; }
.Clarion { color: #db901e; }
.Clean { color: #3F85AF; }
.Click { color: #E4E6F3; }
.Clojure { color: #db5855; }
.CoffeeScript { color: #244776; }
.ColdFusion-CFC { color: #ed2cd6; }
.ColdFusion { color: #ed2cd6; }
.Common-Lisp { color: #3fb68b; }
.Component-Pascal { color: #b0ce4e; }
.cpp { color: #f34b7d; }
.Crystal { color: #776791; }
.CSS { color: #563d7c; }
.D { color: #ba595e; }
.Dart { color: #00B4AB; }
.Diff { color: #88dddd; }
.DM { color: #447265; }
.Dogescript { color: #cca760; }
.Dylan { color: #6c616e; }
.E { color: #ccce35; }
.Eagle { color: #814C05; }
.eC { color: #913960; }
.ECL { color: #8a1267; }
.edn { color: #db5855; }
.Eiffel { color: #946d57; }
.Elixir { color: #6e4a7e; }
.Elm { color: #60B5CC; }
.Emacs-Lisp { color: #c065db; }
.EmberScript { color: #FFF4F3; }
.Erlang { color: #B83998; }
.F-Sharp { color: #b845fc; }
.Factor { color: #636746; }
.Fancy { color: #7b9db4; }
.Fantom { color: #dbded5; }
.FLUX { color: #88ccff; }
.Forth { color: #341708; }
.FORTRAN { color: #4d41b1; }
.FreeMarker { color: #0050b2; }
.Frege { color: #00cafe; }
.Game-Maker-Language { color: #8fb200; }
.Glyph { color: #e4cc98; }
.Gnuplot { color: #f0a9f0; }
.Go { color: #375eab; }
.Golo { color: #88562A; }
.Gosu { color: #82937f; }
.Grammatical-Framework { color: #79aa7a; }
.Groovy { color: #e69f56; }
.Handlebars { color: #01a9d6; }
.Harbour { color: #0e60e3; }
.Haskell { color: #29b544; }
.Haxe { color: #df7900; }
.HTML { color: #e44b23; }
.Hy { color: #7790B2; }
.IDL { color: #a3522f; }
.Io { color: #a9188d; }
.Ioke { color: #078193; }
.Isabelle { color: #FEFE00; }
.J { color: #9EEDFF; }
.Java { color: #b07219; }
.JavaScript { color: #f1e05a; }
.JFlex { color: #DBCA00; }
.JSONiq { color: #40d47e; }
.Julia { color: #a270ba; }
.Jupyter-Notebook { color: #DA5B0B; }
.Kotlin { color: #F18E33; }
.KRL { color: #28431f; }
.Lasso { color: #999999; }
.Latte { color: #A8FF97; }
.Lex { color: #DBCA00; }
.LFE { color: #004200; }
.LiveScript { color: #499886; }
.LOLCODE { color: #cc9900; }
.LookML { color: #652B81; }
.LSL { color: #3d9970; }
.Lua { color: #000080; }
.Makefile { color: #427819; }
.Mask { color: #f97732; }
.Matlab { color: #bb92ac; }
.Max { color: #c4a79c; }
.MAXScript { color: #00a6a6; }
.Mercury { color: #ff2b2b; }
.Metal { color: #8f14e9; }
.Mirah { color: #c7a938; }
.MTML { color: #b7e1f4; }
.NCL { color: #28431f; }
.Nemerle { color: #3d3c6e; }
.nesC { color: #94B0C7; }
.NetLinx { color: #0aa0ff; }
.NetLinx-ERB { color: #747faa; }
.NetLogo { color: #ff6375; }
.NewLisp { color: #87AED7; }
.Nimrod { color: #37775b; }
.Nit { color: #009917; }
.Nix { color: #7e7eff; }
.Nu { color: #c9df40; }
.Objective-C { color: #438eff; }
.Objective-Cpp { color: #6866fb; }
.Objective-J { color: #ff0c5a; }
.OCaml { color: #3be133; }
.Omgrofl { color: #cabbff; }
.ooc { color: #b0b77e; }
.Opal { color: #f7ede0; }
.Oxygene { color: #cdd0e3; }
.Oz { color: #fab738; }
.Pan { color: #cc0000; }
.Papyrus { color: #6600cc; }
.Parrot { color: #f3ca0a; }
.Pascal { color: #b0ce4e; }
.PAWN { color: #dbb284; }
.Perl { color: #0298c3; }
.Perl6 { color: #0000fb; }
.PHP { color: #4F5D95; }
.PigLatin { color: #fcd7de; }
.Pike { color: #005390; }
.PLSQL { color: #dad8d8; }
.PogoScript { color: #d80074; }
.Processing { color: #0096D8; }
.Prolog { color: #74283c; }
.Propeller-Spin { color: #7fa2a7; }
.Puppet { color: #302B6D; }
.Pure Data { color: #91de79; }
.PureBasic { color: #5a6986; }
.PureScript { color: #1D222D; }
.Python { color: #3572A5; }
.QML { color: #44a51c; }
.R { color: #198ce7; }
.Racket { color: #22228f; }
.Ragel-in-Ruby-Host { color: #9d5200; }
.RAML { color: #77d9fb; }
.Rebol { color: #358a5b; }
.Red { color: #ee0000; }
.Ren-Py { color: #ff7f7f; }
.Rouge { color: #cc0088; }
.Ruby { color: #701516; }
.Rust { color: #dea584; }
.SaltStack { color: #646464; }
.SAS { color: #B34936; }
.Scala { color: #DC322F; }
.Scheme { color: #1e4aec; }
.Self { color: #0579aa; }
.Shell { color: #89e051; }
.Shen { color: #120F14; }
.Slash { color: #007eff; }
.Slim { color: #ff8f77; }
.Smalltalk { color: #596706; }
.SourcePawn { color: #5c7611; }
.SQF { color: #3F3F3F; }
.Squirrel { color: #800000; }
.Stan { color: #b2011d; }
.Standard-ML { color: #dc566d; }
.SuperCollider { color: #46390b; }
.Swift { color: #ffac45; }
.SystemVerilog { color: #DAE1C2; }
.Tcl { color: #e4cc98; }
.TeX { color: #3D6117; }
.Turing { color: #45f715; }
.TypeScript { color: #2b7489; }
.Unified-Parallel-C { color: #4e3617; }
.Unity3D-Asset { color: #ab69a1; }
.UnrealScript { color: #a54c4d; }
.Vala { color: #fbe5cd; }
.Verilog { color: #b2b7f8; }
.VHDL { color: #adb2cb; }
.VimL { color: #199f4b; }
.Visual-Basic { color: #945db7; }
.Volt { color: #1F1F1F; }
.Vue { color: #2c3e50; }
.Web-Ontology-Language { color: #9cc9dd; }
.wisp { color: #7582D1; }
.X10 { color: #4B6BEF; }
.xBase { color: #403a40; }
.XC { color: #99DA07; }
.XQuery { color: #5232e7; }
.Zephir { color: #118f9e; }

.checkbox-darkmode {display: none;}
.switch-darkmode {cursor:pointer}
.text-decoration-underline-hover:hover {text-decoration: underline !important;}

.vcard i {color:#57606a}
.vcard svg {fill:#57606a}

body.dark .btn-light {
  background-color: #21262d;
  border-color: rgba(240, 246, 252, 0.1);
  color:#c9d1d9
}
body.dark .btn-light:hover {
  background-color: #30363d;
  border-color: #8b949e;
}

body.dark .bg-dark {background-color: #23272c !important;}
.toplamrepo {    font-size: .6rem;}
.readme img {max-width: 100%;}
.tag:last-child .ayir{display: none;}
.sticky-top .tag:first-child {padding-left: 0 !important;}