---
title: All portfolio by year
show_tags: true
permalink: portfolio.html
layout: default-portfolio
---
{% include utilities/group-by-array.html collection=site.portfolio field='categories' %}

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
<script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>


<div class="mt-3 text-muted">This page shows at least my web design projects that I have screenshots of. It mostly relies on HTML/CSS templates and WordPress themes. Some can be downloaded as files. Unfortunately, this collage mostly contains old projects and not many of the projects I’ve done recently.</div>

<div class="my-4 text-center">
    <div id="filters" class="button-group align-self-lg-center row justify-content-between justify-content-lg-center">
        
        <div class="col-9 col-lg-2">
            <button class="w-100 btn btn-sm btn-link text-decoration-none text-body is-checked p-2 fw-semibold shadow-hover bg-white2 shadow-sm" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" data-filter="*">
                <i class="fas fa-window-restore px-1"></i>Show All ({{ site.portfolio | size }})
            </button>
        </div>
        <div class="col-auto d-flex d-lg-none">
            <button type="button " class="btn btn-sm dropdown-toggle portfolio_sort" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort <i class="fad fa-sort-alt ps-1"></i>
            </button>
            <div id="sorts2" class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item font-weight-bold small is-checked" data-sort-by="order">Newest<i class="fad fa-sort-amount-up-alt float-end pt-1 ps-2"></i></button>
                <button class="dropdown-item font-weight-bold small" data-sort-by="oldest">Oldest<i class="fad fa-sort-amount-down float-end pt-1 ps-2"></i></button>
                <button class="dropdown-item font-weight-bold small" data-sort-by="name">Sort by A-Z<i class="fad fa-sort-alpha-down-alt float-end pt-1 ps-2"></i></button>
            </div>
        </div>
        <div class="col-12 col-lg">
            <div class="row">
            {% for categories in group_names %}
                <div class="col-6 col-md-auto px-3">
                    <button class="w-100 btn btn-sm btn-link text-decoration-none text-body p-2 fw-semibold" data-filter=".{{ categories | slugify }}">
                        {{ categories }}
                    </button>
                </div>
            {% endfor %}

            </div>
        </div>
        <div class="col-lg-1 btn-group d-none d-lg-flex">
            <button type="button " class="btn btn-sm dropdown-toggle portfolio_sort" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort <i class="fad fa-sort-alt ps-1"></i>
            </button>
            <div id="sorts" class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item font-weight-bold small is-checked" data-sort-by="order">Newest<i class="fad fa-sort-amount-up-alt float-end pt-1 ps-2"></i></button>
                <button class="dropdown-item font-weight-bold small" data-sort-by="oldest">Oldest<i class="fad fa-sort-amount-down float-end pt-1 ps-2"></i></button>
                <button class="dropdown-item font-weight-bold small" data-sort-by="name">Sort by A-Z<i class="fad fa-sort-alpha-up float-end pt-1 ps-2"></i></button>
            </div>
        </div>
    </div>
</div>



<div class="grid mb-3">
    <div class="grid-sizer"></div>
    {% for post in site.portfolio %}

    {% include components/portfolio-card.html %}

    {% endfor %}

</div>






</script><script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script><script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script>
function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

var $grid = $('.grid').isotope({
    itemSelector: '.element-item',
    layoutMode: 'masonry',
    stamp: '.item--static',
    percentPosition: true,
    resizesContainer: true,
    resizable: true,
    masonry: {
            stagger: 100,
            gutter: 10,
    },
    sortBy: 'order',
    sortAscending: {
        order: false,
        name: true,
        weight: false,
        oldest: true,
        number: false
    },
    getSortData: {
        order: '[data-date]',
        name: '.grid__title',
        symbol: '.symbol',
        oldest: '[data-date]',
        weight: function( itemElem ) {
        var weight = $( itemElem ).find('.weight').text();
        return parseFloat( weight.replace( /[\(\)]/g, '') );
        }
    }
});
// sort items on button click
$('.sort-by-button-group').on( 'click', 'button', function() {
  var sortByValue = $(this).attr('data-sort-by');
  $grid.isotope({ sortBy: sortByValue });
});

$grid.imagesLoaded().progress( function() {
$grid.isotope('layout');
});

var filterFns = {
numberGreaterThan50: function() {
    var number = $(this).find('.number').text();
    return parseInt( number, 10 ) > 50;
},
ium: function() {
    var name = $(this).find('.name').text();
    return name.match( /ium$/ );
}
};

$('#filters').on( 'click', 'button', function() {
var filterValue = $( this ).attr('data-filter');
filterValue = filterFns[ filterValue ] || filterValue;

var queryParams = new URLSearchParams(window.location.search);
queryParams.set("filter", $( this ).attr('data-filter').replace('.','') );

if($( this ).attr('data-filter') != "*") {
    history.replaceState(null, null, "?"+queryParams.toString());
}
else {
    history.replaceState(null, null, "?");
}

$grid.isotope({ filter: filterValue });
});


if( getParameterByName('filter') ) {
    var filterValue = '.' + getParameterByName('filter');
    filterValue = filterFns[ filterValue ] || filterValue;
    $grid.isotope({ filter: filterValue });
}

$('#sorts').on( 'click', 'button', function() {
var sortByValue = $(this).attr('data-sort-by');
$grid.isotope({ sortBy: sortByValue });
console.log($grid.isotope({ sortBy: sortByValue }))
});

$('#sorts2').on( 'click', 'button', function() {
var sortByValue = $(this).attr('data-sort-by');
$grid.isotope({ sortBy: sortByValue });
console.log($grid.isotope({ sortBy: sortByValue }))
});

$('.button-group').each( function( i, buttonGroup ) {
var $buttonGroup = $( buttonGroup );
$buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
});
});

Fancybox.bind('[data-fancybox="gallery"]', {
    Thumbs: false,
Toolbar: {
    display: [
    { id: "prev", position: "center" },
    { id: "counter", position: "center" },
    { id: "next", position: "center" },
    "zoom",
    "slideshow",
    "fullscreen",
    "download",
    "close",
    ],
},

});


console.log(getParameterByName('filter'));

</script>
