---
title: All posts by year
show_tags: true
permalink: blog/posts.html
---

<div class="d-md-block d-lg-none mb-3">
    {% include components/all-tags.html %}
</div>

<div id="currently-showing">
    <div class="d-flex align-items-center mb-3">
        <span class="text-secondary mr-2">Showing everything matching:</span>
        <span class="d-inline-block mx-2 fw-semibold" id="active-tag"></span>
        <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="clearTags()">clear</a>
    </div>
</div>

{% for post in site.posts %}

    {% include components/post-card.html %}

{% endfor %}

<script type="text/javascript">

    var parseHash = function() {
        if (document.location.hash.length > 0) {
            var tag = document.location.hash.slice(1)
            var name = $(".tag-" + tag).first().text()
            showPostByTag(tag, name)
        }
        else {
            clearTags()
        }
    }

    $(document).ready(parseHash);

    $(window).on('hashchange', parseHash);

    var showPostByTag = function(tag, name) {
        $("#currently-showing").show()
        $(".card-post").hide()
        $(".tag").removeClass("fw-semibold")
            // .addClass("bg-white")
            .removeClass("text-dark")
        $(".card-post").each(function(idx, card) {
            var matches = $(card).find(".tag-" + tag)
            if (matches.length > 0) $(card).show()
        })
        $(".tag-" + tag)
            // .removeClass("bg-white")
            .addClass("fw-semibold")
            .addClass("text-dark")
            .blur()
        $("#active-tag").html(name)
    }

    var clearTags = function() {
        $("#currently-showing").hide()
        $(".card-post").show()
        $(".tag").removeClass("fw-semibold")
            // .addClass("bg-white")
            .removeClass("text-dark")
        document.location.hash = ""
    }

</script>