{% include utilities/group-by-array.html collection=site.posts field="tags" %}
{% include components/profile-avatar.html %}
{% include components/profile-body.html %}
<hr>
<div>
    <div class="card-title">
        <h6 class="fw-normal text-muted">Filter by Tag</h6>
    </div>
    {% for tag in group_names %}
        <a class="d-inline-block rounded small p-1 mr-1 mb-1 text-decoration-none tag tag-{{ tag | slugify }}"
            href="#{{tag | slugify}}">
            {{ tag }}
        </a>
    {% endfor %}
</div>