<div class="w-100 my-3 pb-3 my-lg-4 py-lg-4">
    <div class="card-body px-0 pt-0">
        <h4 class="card-title mb-3">
            <a href="{{post.url}}" class="text-decoration-none text-dark">{{ post.title }}</a>
        </h4>
        <div class="card-text mb-0">
            {{ post.content | markdownify | strip_html | truncatewords: 50 }}
            <a href="{{ post.url | absolute_url }}" class="p-0 btn-link text-decoration-none text-decoration-underline-hover">Read More<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="10px" class="ms-2" style="fill:var(--bs-link-color);"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg></a>
        </div>
        <div class="row justify-content-center align-items-center mt-3 text-muted small">
            <div class="col">
                <i class="bi bi-calendar-range-fill pe-2"></i>
                Posted {{ post.date | timeago }}
            </div>
            <div class="col-auto">
                {% for tag in post.tags %}
                    <span class="small tag tag-{{ tag | slugify}}">
                        {{ tag }}<span class="ayir">,</span>
                    </span>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>