<div class="row align-items-center mb-3">
    <div class="col-3 col-md-2 col-lg-4">
        <img src="https://avatars.githubusercontent.com/u/5455184?v=4" alt="{{site.name}}" class="rounded-circle shadow-sm" style="width: 100%;">
    </div>
    <div class="col">
        <h4 class="card-title">{{site.name}}</h4>
        <div class="bio mt-1 text-muted"></div>
    </div>
</div>
<div id="follow"></div>


<div class="small my-3 vcard">
    <i class="bi bi-people-fill pe-2"></i><b id="takipci">0</b> takipçi<span class="px-1">·</span><b id="takipedilen">0</b> takip edilen
</div>
