<div class="sticky-top space-before">
    <div class="mb-3 space-before">
        <div class="list-group">
            <div class="card-title">
                On This Page
            </div>
            <ol class="header-list" id="collapseExample">
            </ol>
            <div class="d-flex align-items-center mt-2">
                <span class="icon grey mr-1">
                    {% include entypo/arrow-left.svg %}
                </span>
                <a href="{{ site.baseurl }}{% link list/projects.md %}">Back to the contents</a>
            </div>
        </div>
    </div>
</div>


