<!DOCTYPE html>
<html lang="en">

{% include structure/header.html %}

<body data-bs-spy="scroll" data-bs-offset="30" data-bs-target="#collapseExample">


{% include bars/nav.html %}

{% capture col1 %}{% if page.narrow %}3{% else %}4{% endif %}{% endcapture %}

{% capture col2 %}{% if page.narrow %}9{% else %}8{% endif %}{% endcapture %}


<div class="container site-container" id="top">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4 col-xl-3 side">
            <div class="sticky-top space-before row-offcanvas row-offcanvas-left">
                <div id="sidebar" class="mb-3 space-before sidebar-offcanvas">
                    <div class="list-group fixed-top">
                        {% include bars/side.html %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-{{ col2 }} pb-4 content">
            {{ content }}
        </div>
        <div class="col-md-12 d-lg-none bottom">
            {% include bars/bottom.html %}
        </div>
    </div>
</div>


{% include structure/footer.html %}

</body>

</html>
