{% if page.show_profile %}
    <div class="shadow-sm bg-white2 p-3 rounded">
        {{site.author.name}}
        {% include components/profile-avatar.html %}
        {% include components/profile-body.html %}
    </div>
{% endif %}
{% if page.show_tags %}
    {% include components/all-tags.html %}
{% endif %}
{% if page.show_skills %}
    {% include components/all-skills.html %}
{% endif %}
{% if page.path contains '_docs' %}
    {% include components/docs-meta.html %}
{% endif %}

{% if page.path contains '_posts' %}
    {% include components/post-meta.html %}
{% endif %}
